target/
build/
*.iml
.idea/
*~
.DS_Store
.gradle/
.clover/
.docker-gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
.*.sw?

out/
